*
{
  margin:0px;
  padding:0px;
}
.game
{
  display:absolue;
  border:2px solid green;
  width:400px;
  height:200px;
margin:20px;
}
.dino
{
  position: absolute;
  top:193px;
  width:15px;
  background-color:blue;
  height:30px;

}
.enemy
{
  background-color: red;
  width:14px;
  height:25px;
  position:absolute;
  top:20x;
}