*
{
  margin:0px;
  padding:0px;
}
.game
{
  border:2px solid green;
  width:400px;
  height:200px;
}
.dino
{
  position: relative;
  top:170px;
  width:15px;
  background-color:blue;
  height:30px;

}
